*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-image: url(images/bg.svg);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 70vh;
    padding: 80px 0 0 0;
}
.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #ffb408;
    font-size: 40px;
    font-weight: 800;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #dcdde2;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover{
    color: #ffb408;
}
#menu{
    display: none;
}
.menu-icono{
    width: 25px;
}
.menu label{
    cursor: pointer;
    display: none;
}
.header-content{
    display: flex;
}
.header-txt{
    width: 50%;
    margin-bottom: 50px;
}
.header-txt h1{
    font-size: 90px;
    color: #ffb408;
    line-height: 85px;
    margin-bottom: 10px;
    
}
.header-txt span{
    font-size: 90px;
}
.header-txt p{
    font-size: 16px;
    color: #c4c4c4ce;
    margin-bottom: 15px;
    text-align: justify;
}
.header-img{
    width: 30%;
    text-align: center;
}
.header-img img{
    width: 300px;
}
.btn-1{
    display: inline-block;
    padding: 13px 20px;
    color: #ffb408;
    border: 1px solid #ffb408;
    border-radius: 15px;
    margin-right: 30px;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 100px;
}
.btn-1:hover{
    color: #dcdde2;
    background-color: #ffb408;  
}
.menu-pl{
    padding: 0 0 100px 0;
}
h2{
    font-size: 50px;
    color: #292923;
    margin-bottom: 40px;
}
span{
    color: #ffb408;
}
.general-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 35px;
}
.general-txt{
    border-radius: 25px;
    box-shadow: 0 0 20px rgb(0,0,0,0.2);
    padding-bottom: 35px;
}
.general-txt img{
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 250px;
}

.general-txt h3{
    font-size: 18px;
    color: #292923;
    padding: 25px 25px 10px 25px;

}
.general-txt p{
    font-size: 16px;
    color: #292923;
    padding: 0 25px 20px 25px;
}
.precio{
    padding: 0 25px 10px 25px;
    display: flex;
    justify-content: space-between;
}
.precio{
    color: #ffb408;
    font-size: 18px;
    font-weight: 600;
}
.btn-2{
    display: inline-block;
    background-color: #ffb408;
    font-size: 14px;
    padding: 7px 15px;
    color: #dcdde2;
    border-radius: 10px;
}
.acercade{
    padding: 100px 0;
    margin-bottom: 100px;
    background-color: #292933;
}
.acercade-txt{
    width: 50%;
}
.acercade-content{
    display: flex;
}
.acercade-txt h2{
    color: #fbfcff;
}
.acercade-txt p{
    color: #c4c4c4ce;
    font-size: 16px;
    margin-bottom: 40px;
}
.hambuger{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 80px;
}
.hambuger span{
    font-size: 80px;
    font-weight: 800;
}
.acercade.img{
    width: 50%;
    text-align: right;
}
.footer{
    background-color: #292933;
    padding: 50px 0;
}
.footer-content{
    display: flex;
    justify-content: space-between;
}
.link h3{
    color: #ffb408;
    text-transform: uppercase;
}
.link a{
    color: aqua;
    font-size: 20px;
    margin-bottom: 30px;
    display: block;
}
.link a:hover{
    color: #fbfcff;
}
.atencion{
    height:900px;
    width: 100%;
     
}
.chiquis{
    height: 500px;
    width: 300px;
    text-align: center;
    position: relative;
    border: 3PX solid blanchedalmond;
    font-size:15px;
}
.grandote{
    height: 500px;
    width: 700px;
    display: flex;
    position: relative;
    left: 500px;
    bottom: 500px;
    border: 3px solid blanchedalmond;

}
.chiquis p{
    margin-top: 20px;
    
}
textarea[name="control5"]{
    vertical-align: top;
}
.grandote p{
    text-align: right;
}
.grandote a{
    position: relative;
    left: 180px;
    top: 1px;
    

}
.grandote p{
    position:relative ;
    right:200px;
    top:10px ;
}
.nino{
    width: 300px;
    height: 150px;
    position: relative;
}
.nino img{
    width: 55px;
    height: 70px;
    cursor: pointer;
    position: relative;
    top: 30px;
}
.chiquis h1{
    color: #ffb408;
}
.grandote h2{
    color: #ffb408;
    text-align: center;
}
.chiquis img{
width: 100px;
height: 90px;
}

.grandote img{
    width: 130px;
    height: 80px;

}
.nino img{
width: 50px;
height: 70px;
}
.primero p{
    text-align: center;

}
.primero h1{
    text-align: center;
}
.segundo h2{
    font-size:30px;
    text-align: center;
}
.primero1{
margin-left:140px;
display:inline-block;
margin-bottom:60px;
}
.primero h2{
    position: absolute;
    font-size: 20px;
    margin-right:60px;
    margin-top: 80px;
}
.primero3{
    margin-left:140px;
display:inline-block;
margin-bottom:60px;
}
.primero2 h1{
    font-size: 20px;
    margin-left:2px;
    margin-bottom: 20px;
    position: absolute;
    left: 40px;
}
.primero3 a{
    height: 30px;
    width: 20px;
    left: 50px;
}
.titulo{
    height: 80px;
    width:700px;
    position: relative;
    left: 350px;
    bottom: 150px;
    text-align: center;
    font-size:30px ;
    margin-top: 0px;
}
.Adomicilio{
    height: 500px;
    width: 650px;
    position: relative;
    left: 10px;
    text-align: center;
    border: 2px #ffb408;
    bottom:280px;
}
.Adomicilio p{
    position: relative;
    bottom: 35px;
    right: 60px;
    text-align: right;
    font-size: 25px;
}
.Adomicilio a{
position: relative;
right: 90px;
bottom: 30px;
left: 120px;
}
.Adomicilio img{
 height: 180px;
 width: 200px;
 position: relative;
 right: 130px;
 bottom: 100px;
 border-radius: 10px;
}
.letra{
    height: 70px;
    width: 300px;
    position: relative;
    bottom: 100px;
}
.Adomicilio h2{
    font-size: 20px;
    bottom: 90px;
    margin-left: 120px;
}
.Reservación{
    position: relative;
    height: 500px;
    width: 520px;
    left: 670px;
    bottom: 780px;
    text-align: center;
    border: 2px #ffb408;
}
.liz{
    height: 340px;
    width: 430px;
    position: relative;
    left: 60px;
    top: 10px;
    font-size: 30px;
    text-align: left;
}
.liz p{
   margin-top: 40px;
}
.Reservación p{
    font-size: 30px;
}
.Pedidosa{
    height: 380px;
    width: 500px;
    position: relative;
    left: 410px;
    bottom: 550px;
    font-size: 20px;
    text-align: center;
    border: 2px #ffb408;
}
.Pedidosa p{
    margin-top: 70px;
    font-size: 30px;
}
.bot{
    height: 20px;
    width: 30px;
    position: relative;
    left: 600px;
    bottom: 350px;
}
.header-img{
    height: 100%;
    width: 100px;
}
.fondo img{
    height:1900px;
    width: 1300px;
    left:0px;
    position: absolute;
    margin-top: 20px;
    margin-right: 150px;
}
.bot a{
  right: 400px;
  position: relative;
  top: 430px;
}
.moto img{
    height: 90px;
    width:120px;
    right:200px;
    top:120px;
}
.uno{
    height: 1050px;
    width: 1500px;
    margin-right: 10px;
    margin-bottom: 180px;
    border: 2px solid #dcdde2;
}
.uno p{
    text-align: center;
    font-size: 30px;
}
.uno img{
    height: 80px;
    width: 100px;
    margin-top: 30px;
}
.unoo{
    margin-left: 30px;
    top: 40px;
    display: inline-block;
}
.unoo a{
    background-color: #ffb408;
}
.dos{
    height: 1050px;
    width: 1100px;
    border: 2px solid #dcdde2;
    bottom: 90px;
    position: relative;
    margin-right: 90px;
}
.dos p{
    font-size: 30px;
    text-align: center;
}
.doss img{

    height: 80px;
    width: 100px;

}
.doss{
    margin-left: 40px;
    display: inline-block;
    margin-top: 20px;
}
.tres{
    height: 1120px;
    width: 1200px;
     border: 2px solid #ffb408;
    position: relative;
    right: 450px;
    top: 1000px;
}
.tres p{
    font-size: 30px;
    text-align: center;
}
.tress{
    margin-left: 40px;
    display: inline-block;
    margin-top: 20px;
}
.tress img{
    height: 80px;
    width: 100px;
}
.cuatro{
    height: 850px;
    width: 440px;
    border: 2px solid #dcdde2;
    margin-right: 30px;
    position: absolute;
    margin-left: 880px;
    margin-bottom: 380px;
}
.cuatro p{
    font-size: 30px;
    text-align: center;
}
.cuatroo img{
    height: 80px;
    width: 100px;
}
.cuatroo{
    margin-left: 40px;
    display: inline-block;
    margin-top: 20px;
}
.cinco{
    height: 250px;
    width: 1000px;
    border: 2px solid #ffb408;
    position: absolute;
    margin-top: 3400px;
    left: 150px;
     }
.cinco p{
    font-size: 30px;
    text-align: center;
}.cincoo img{
    height: 80px;
    width: 100px;
}
.cincoo{
  margin-left: 40px;
    display: inline-block;  
}
.seis{
    height: 250px;
    width: 800px;
    border: 2px solid #ffb408;
    position: absolute;
    margin-top: 4000px;
    left: 250px;
}
.seis p{
   font-size: 30px;
    text-align: center;
}
.seiss img{
    height: 80px;
    width: 100px;
}
.seiss{
    margin-left: 40px;
    display: inline-block;
}
.siete{
    height: 250px;
    width: 800px;
    border: 2px solid #ffb408;
    position: absolute;
    margin-top: 4700px;
    margin-left: 250px;
}
.siete p{
    font-size: 30px;
    text-align: center;
}
.siete img{
     height: 80px;
    width: 100px;
}
.sietee{
    margin-left: 40px;
    display: inline-block;

}
.but1{
    display: inline-block;
    padding: 10px 10px;
    color: black;
    border: 5px solid #ffb408;
    border-radius: 10px;
    background-color: #ffb408;

}
.but2{
    display: inline-block;
    padding: 10px 10px;
    color: black;
    border: 1px solid #ffb408;
    border-radius: 10px;
    background-color: #ffb408;

}
.but3{
    display: inline-block;
    padding: 10px 10px;
    color: black;
    border-radius: 10px;
    background-color: #ffb408;
}
.but4{
    display: inline-block;
    padding: 10px 10px;
    color: black;
    border-radius: 10px;
    background-color: #ffb408;
}
.but5{
    display: inline-block;
    padding: 10px 10px;
    color: black;
    border: 5px solid #ffb408;
    border-radius: 10px;
    background-color: #ffb408;
}
.but6{
    display: inline-block;
    padding: 10px 10px;
    color: black;
    border: 5px solid #ffb408;
    border-radius: 10px;
    background-color: #ffb408;

}
.but7{
    display: inline-block;
    padding: 10px 10px;
    color: black;
    border: 5px solid #ffb408;
    border-radius: 10px;
    background-color: #ffb408;

}